h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    list-style: none;
}

ul {
    padding-left: 0;
}
a {
    text-decoration: none;
}

:root {
    --text-color: #757575;
    --head-color: #212121;
    --logo-color: #2196f3;
    --black-color: #000000;
    --white-color: #ffffff;
    --button-filter-color: #f5f4fa;
    --full-page-color: #2f303a;
    --main-social-icon-color: #afb1b8;
    --main-font: 'Roboto', sans-serif;
    --wrapper-example-background-color: rgba(33, 150, 243, 0.9);
    --job-description-bg-color: rgba(47, 48, 58, 0.8);
    --btn-active-color: #188ce8;
}

body,
html {
    margin: 0;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 14px;
}
/* 
* {
    outline: 1px solid red;
}
 */
.header {
    border-bottom: 1px solid #ececec;
}

.header > .container,
.navigation-header,
.navigation-list,
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-color);
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-upper,
.logo-bottom {
    display: inline-block;
}

.logo-upper {
    color: var(--black-color);
}

.logo-bottom {
    color: var(--white-color);
}

.navigation-list,
.navigation {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.navigation-list .site-navigation {
    position: relative;
}

.navigation-list > .item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list .site-navigation::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    opacity: 0;

    width: 48px;
    height: 4px;
    border-radius: 2px;

    background-color: var(--logo-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .site-navigation:hover::after {
    opacity: 1;
}

/* 
Так делать неправильно, теги не должны быть пустыми

.navigation-list .active-link-hover {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    opacity: 0.2;

    width: 48px;
    height: 4px;
    border-radius: 2px;

    background-color: var(--logo-color);
}

.navigation-list > .item:hover .active-link-hover {
    opacity: 1;
}
 */

.site-navigation {
    color: var(--head-color);
}

.navigation {
    margin-left: auto;
    gap: 50px;
}

.navigation a {
    color: inherit;
}

.site-navigation,
.contact-navigation {
    display: inline-flex;
    padding: 32px 0px;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-navigation .icon {
    margin-right: 10px;
}

.navigation > .item:nth-child(1) .icon {
    width: 16px;
    height: 12px;
    fill: currentColor;
}
.navigation > .item:nth-child(2) .icon {
    width: 10px;
    height: 16px;
    fill: currentColor;
}

.skill-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: var(--button-filter-color);
}

.skill-icon-wrap .skill-icon {
    height: 70px;
    width: 70px;
}

/*
.site-navigation:hover,
.site-navigation:focus {
    text-decoration: underline;
    text-decoration-color: var(--logo-color);
    }
*/

.site-navigation:active {
    border: 1px solid var(--logo-color);
}

.site-navigation.active {
    color: var(--logo-color);
}

.site-navigation:hover,
.site-navigation:focus,
.contact-navigation:focus,
.contact-navigation:hover {
    color: var(--logo-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--logo-color);

    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--btn-active-color);
}

.section {
    padding: 94px 0px;
}

.company-skills {
    display: flex;
    gap: 30px;
}

.company-skills h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--head-color);
    margin-bottom: 10px;
}

.company-skills p {
    line-height: 171%;
    letter-spacing: 0.03em;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: var(--head-color);
    text-align: center;
    margin-bottom: 50px;
}

.job-description-list {
    padding: 0;
    display: flex;
    gap: 30px;
}

.job-description-list-item {
    position: relative;
    max-width: 370px;
}

.job-description-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.job-description-title {
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 27px 0px;

    background-color: var(--job-description-bg-color);

    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.team-portfolio {
    display: flex;
    gap: 30px;
}

.team-portfolio-item {
    max-width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-portfolio-img {
    display: block;
    width: 100%;
    height: auto;
}

.team-portfolio-item h3 {
    color: var(--head-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 119%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.team-portfolio-item p {
    font-size: 16px;
    line-height: 119%;
    letter-spacing: 0.03em;
    text-align: center;
}

.client-list {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

.client-list-item {
    height: 92px;
    flex-basis: calc((100% - 150px) / 6);
}

.client-list-link {
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--main-social-icon-color);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
    width: 106px;
    height: 60px;

    fill: var(--main-social-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover,
.client-list-link:focus {
    border-color: var(--logo-color);
}

.client-list-link:hover .client-icon,
.client-list-link:focus .client-icon {
    fill: var(--logo-color);
}

.logo.footer-logo {
    display: block;
    margin-bottom: 20px;
}

address {
    color: var(--white-color);
    font-style: normal;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.address-list-item:first-child {
    margin-bottom: 10px;
}

.address-list-item:nth-child(2) {
    margin-bottom: 6px;
}

address a {
    color: rgba(255, 255, 255, 60%);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address a:hover,
address a:focus {
    color: #2196f3;
}

.examples-list-item {
    max-width: 370px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list-item:hover,
.examples-list-item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples-list-item > img {
    display: block;
}

.example-img-wrapper {
    position: relative;
    overflow: hidden;
}

.example-description {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(110%);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--white-color);
    background-color: var(--wrapper-example-background-color);

    transition-duration: 250ms;
}

.examples-list-item:hover .example-description {
    transform: translateY(0%);
}

.examples-list-item-container {
    padding: 20px 24px;
}

.examples-list-item-container > h2 {
    color: var(--head-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.examples-list-item-container > p {
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
}

.button-filter {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: var(--button-filter-color);
    color: var(--head-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 163%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--logo-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-container {
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;

    background-color: var(--full-page-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    /*we can not to add these properties*/
    background-repeat: no-repeat;
    background-position: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.company-portfolio-filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.footer {
    background: var(--full-page-color);
    padding: 60px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.address-box {
    margin-right: 70px;
}

.strong {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-color);
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.connect-box .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.connect-box .social-link .social-icon {
    fill: var(--white-color);
}

.section-our-team {
    background-color: #f5f4fa;
}

.team-portfolio-item-container {
    padding: 30px 0;
}

.team-portfolio-item-container p {
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.social-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-social-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background-color: var(--logo-color);
}

.social-link .social-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon {
    fill: var(--white-color);
}

.contacts-img {
    display: block;
    margin: 0 auto;
}

.section.contacts {
    background-color: grey;
}

.section.soft-skills {
    padding-bottom: 0px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    width: 528px;
    height: 580px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
}

.modal-form label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.modal-form label:not(:last-child) {
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 10px;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    fill: var(--head-color);
}

.base-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: var(--black-color);
    font-size: 16px;
}

.base-input:hover,
.base-input:focus {
    cursor: pointer;
}

.base-input:valid {
    border-color: var(--logo-color);
}

.base-input:valid + .modal-input-icon {
    fill: var(--logo-color);
}

.modal-form textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 16px;
    color: var(--black-color);
}

.modal-form textarea:hover {
    cursor: pointer;
}

.modal-form textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form textarea:not(:placeholder-shown) {
    border-color: var(--logo-color);
}

.checkbox-wrap {
    margin: 0 auto;
    margin-bottom: 30px;

    width: 425px;
}

.modal-form .checkbox-label {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.checkbox-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;

    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid var(--head-color);

    /*   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.checkbox-icon-wrap svg {
    width: 11px;
    height: 8px;
}

.checkbox:checked + .checkbox-label .checkbox-icon-wrap {
    background-color: var(--logo-color);
    border: none;
}

.checkbox-link {
    color: var(--logo-color);
    text-decoration: underline;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;

    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

    color: var(--white-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: var(--btn-active-color);
}

.close-btn-x {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-x:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close-btn-x:hover .close-btn-icon {
    fill: var(--logo-color);
}

.close-btn-icon {
    width: 14px;
    height: 14px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
button,
textarea {
    padding: 0;
    border: none;
    outline: none;
}

.email-form {
    margin-left: auto;
}

.label-email {
    display: block;
    margin-bottom: 20px;

    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.email-wrap {
    display: flex;
    align-items: center;
}

.input-email {
    background-color: transparent;
    padding: 15px 0px 15px 16px;
    width: 358px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.input-email:placeholder-shown,
.input-email:invalid {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-email:not(:placeholder-shown) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.input-email:not(:placeholder-shown):valid {
    border: 1px solid var(--logo-color);
}

.input-email::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.btn-email {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--logo-color);

    cursor: pointer;

    text-align: center;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-email:hover,
.btn-email:focus {
    background-color: var(--btn-active-color);
}

.btn-email-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
